/TEXT_CLASSIFICATION/data/cr/cr_10_1/
/TEXT_CLASSIFICATION/data/cr/cr_10_1337/
/TEXT_CLASSIFICATION/csv/
/TEXT_CLASSIFICATION/Transformer/model_save/
/TEXT_CLASSIFICATION/Transformer/results/
/TEXT_CLASSIFICATION/Transformer/.idea/
/TEXT_CLASSIFICATION/data/mr/mr_10_1337/
/TEXT_CLASSIFICATION/data/subj/subj_10_1/
/TEXT_CLASSIFICATION/data/mpqa/mpqa_10_1337/
/TEXT_CLASSIFICATION/data/mpqa/mpqa_10_1/
/TEXT_CLASSIFICATION/Transformer/.idea/
/.idea
/TEXT_CLASSIFICATION/results/
